<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--add a new setting for token -->

		<add key="oauthToken" value="eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjM5MTkyOTE4MiwiYWFpIjoxMSwidWlkIjo2NDEzNjMyNCwiaWFkIjoiMjAyNC0wOC0wMVQxNzo0ODoxMy4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MjQ2NjQwNTgsInJnbiI6InVzZTEifQ.gt-opjv4QNUq3xcQmdhhi0nQ_nw6FKay4fIalStLP4k" />
		<add key="apiEndpoint" value="/v2"/>
		<add key="baseUrl" value="https://api.monday.com"/>
	</appSettings>
	
	
	

</configuration>